.Works {
  position: relative;
  & .WorkContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    &__container {
      position: relative;
      overflow: hidden;
      margin-bottom: 60px;
      > img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // width: 100%;
        // &.vertical {
        //   width: 100%;
        // }
        // &.horizontal {
        //   height: 100%;
        // }
      }
      &.vertical {
        width: 300px;
        height: 450px;
        > img {
          width: 100%;
        }
      }
      &.horizontal {
        width: 675px;
        height: 450px;
        > img {
          height: 100%;
        }
      }
    }
  }
}